/*csslint order-alphabetical: false, box-sizing: false*/

body {
  padding-top: 100px;
}

.project {
  color: black;
  display: inline-block;
  border: 1px solid red;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.project:hover {
  text-decoration: none;
  color: black;
}

.project:visited {
  color: black;
}

.nav{
    font-size: 1.25em;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 10px;
}
.nav > li{
    display: inline;
}
.nav > li > a{
    position: relative;
    display: inline-block;
    margin: 15px 20px;
    padding: 0;
    padding-bottom: 5px;
/*    text-decoration: none;*/
    color: black;
}

/* Overrides bootstrap default style */
.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
}

.footer {
    background-color: transparent;
    border-top: 2px solid black;
}

/* For animation to underline links.  code found at:
 * http://tobiasahlin.com/blog/css-trick-animating-link-underlines/
 */
.nav > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav > li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav > li > .active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/*End code to underline links.*/

/*For code to make buttons on project page
I am not sure I have use for this yet but I will see.
found at http://callmenick.com/post/stylish-css-buttons*/
section.gradient button {
  color: #fff;
  text-shadow: -2px 2px #346392;
  background-color: #ff9664;
  background-image: linear-gradient(top, #6496c8, #346392);
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
  border-radius: 15px;
}

section.gradient button:hover,
section.gradient button.hover {
  box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
}

section.gradient button:active,
section.gradient button.active {
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}
/*End code to make buttons on project page*/
