{% extends parent_template|default:"base.html" %}
{% load staticfiles %}

{% block meta %}
  {{ block.super }}
  <meta name="description" content="A searchable list of 5e D&D spells, sorted by class and level">
{% endblock %}

{% block title %}
  D&D 5e Spellbook
{% endblock %}

{% block favicon %}
  <!-- Favicon created by and downloaded from FlatIcon at http://www.flaticon.com/free-icon/open-book-top-view_43212 -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'spellbook/icon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'spellbook/icon/favicon-32x32.png' %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% static 'spellbook/icon/favicon-16x16.png' %}" sizes="16x16">
  <link rel="manifest" href="{% static 'spellbook/icon/manifest.json' %}">
  <meta name="theme-color" content="#ffffff">
{% endblock %}

{% block links %}
  {{ block.super }}
  <link href="https://fonts.googleapis.com/css?family=Lora|Mate+SC" rel="stylesheet">
  <!-- spellbook style sheet -->
  <link href="{% static 'spellbook/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block footer %}
  {{ block.super }} - A searchable list of 5e D&D spells, sorted by class and level. All data used under
      the <a href="https://media.wizards.com/2016/downloads/DND/SRD-OGL_V5.1.pdf">OGL</a>.
{% endblock %}

{% block scripts %}
  {{ block.super }}
{% endblock %}
