{% extends parent_template|default:"spellbook/spellbook_base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-7 col-xl-6">
        <div id="search-block">
          <div class="search text-search">
            <h2 id="text-header" class="fixed-anchor spell-level-header">Search</h2>
            <form id="search-form">
              <input id="search-input" class="form-control" type="text" name="search" placeholder="Search...">
            </form>
          </div>
          <div class="search class-search">
            <h2 id="class-header" class="fixed-anchor spell-level-header">
              Classes
              <button id="reset-class-btn" type="button" class="btn btn-default pull-right" value="">Reset</button>
            </h2>
            <div >
              {% for class in classes %}
                <button id="{{ class.slug }}" type="button" class="btn btn-default class-btn" value="">{{ class.name|title }}</button>
              {% endfor %}
            </div>
          </div>
          <div class="search adv-search">
            <h2 id="adv-header" class="fixed-anchor spell-level-header">
              Advanced Options
              <button id="reset-adv-btn" type="button" class="btn btn-default pull-right" value="">Reset</button>
            </h2>
            <div>
              <button id="rit-btn" type="button" class="btn btn-default" value="">Ritual</button>
              <button id="con-btn" type="button" class="btn btn-default" value="">Concentration</button>
              <div id="components" class="search-option">
                <p>Components:</p>
                <div id="comp-btns" class="btn-group btn-group-sm" role="group">
                  <button id="v-btn" type="button" class="btn btn-default" value="">V</button>
                  <button id="s-btn" type="button" class="btn btn-default" value="">S</button>
                  <button id="m-btn" type="button" class="btn btn-default" value="">M</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="spell-block">
        </div>
      </div>
    </div> <!-- end row -->
  </div> <!-- end container -->
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'spellbook/js/main.js' %}"></script>
{% endblock %}
