<div class="container">

    <h1> Hi.  My name is Patrick McNally </h1>

    <p> I am a web developer & computer programmer.  I am working to find new opportunites for myself in the tech industry. </p>

    <p> This site and my projects are both a way for me to develop and demonstrate my skills. </p>

    <p> Feel free to poke around.  If any of this is interesting to you please head over to my <a href="/contact">contact page</a> and let me know.</p>

    <h2> Current skills </h2>
    <ul>
      <li> Python/Django </li>
      <li> SQL </li>
      <li> HTML/CSS </li>
      <li> JavaScript/JQuery </li>
      <li> Git/GitHub </li>
      <li> Linux/Shell </li>
    </ul>

    <h2> Current Projects </h2>
    <ul>
      <li>Check out my <a href="/projects">projects page</a></li>

</div>
