{% load static %}

<div class="container contact">
  <h1>Contact me using any of these social media sites:</h1>

  <div class="social-links">
    <a href="https://www.linkedin.com/in/pjmcnally/" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.twitter.com/PatrickJMcNally" title="Twitter"><i class="fa fa-twitter"></i></a>
    <a href="https://github.com/Pjmcnally" title="Github"><i class="fa fa-github"></i></a>
    <a href="https://www.hackerrank.com/pjmcnally" title="Hacker Rank"><img src="{% static 'home/icon/HackerRank_logo.svg' %}"></a>
    <a href="https://www.reddit.com/user/Pjmcnally/" title="Reddit"><i class="fa fa-reddit"></i></a>
  </div>

  <h1>Or, preferably, just send me an email: </h1>
  <div id="email-container">
  </div>
</div>
