{% load static %}

<div id="overlay" class="overlay">
  <div id="loader"></div>
</div>

<div class="container contact">
  <div class="email-wrapper">
    <h1 class="email-header">Please feel free to send me an email: </h1>
    <div id="email-container">
      <!-- Form will be inserted here using Ajax -->
    </div>
  </div>

  <h1>Or contact me using any of these social media sites:</h1>

  <div class="social-links">
    <a href="https://www.linkedin.com/in/pjmcnally/" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.twitter.com/PatrickJMcNally" title="Twitter"><i class="fa fa-twitter"></i></a>
    <a href="https://github.com/Pjmcnally" title="Github"><i class="fa fa-github"></i></a>
    <a href="https://www.hackerrank.com/pjmcnally" title="Hacker Rank"><img src="{% static 'home/icon/HackerRank_logo.svg' %}"></a>
    <a href="https://www.reddit.com/user/Pjmcnally/" title="Reddit"><i class="fa fa-reddit"></i></a>
  </div>

</div>
