<div class="container-fluid full-width">
  <div class="row row-no-gutter">
    <a href="spellbook" class="project col-xs-12 col-sm-6 col-md-3">
      <img src="<IMG GODES HERE" alt="Spellbook">
      <h3>Spellbook</h3>
      <hr class="line">
      <p>This is where the Spellbook project goes.</p>
    </a>
    <a href="www.google.com" class="project col-xs-12 col-sm-6 col-md-3">
      <img src="<IMG GODES HERE" alt="<Project title here>">
      <h3>Project title here</h3>
      <hr class="line">
      <p>description text here</p>
    </a>
    <a href="www.google.com" class="project col-xs-12 col-sm-6 col-md-3">
      <img src="<IMG GODES HERE" alt="<Project title here>">
      <h3>Project title here</h3>
      <hr class="line">
      <p>description text here</p>
    </a>
    <a href="www.google.com" class="project col-xs-12 col-sm-6 col-md-3">
      <img src="<IMG GODES HERE" alt="<Project title here>">
      <h3>Project title here</h3>
      <hr class="line">
      <p>description text here</p>
    </a>
  </div>
</div>
