{% load static %}

<div class="container">
  <div class="row">
<!--     <h1>Large Projects</h1> -->
    <div class="project col-xs-12 col-sm-6 col-md-4">
      <a href="spellbook">
        <img class="proj_pic" src="{% static 'spellbook/icon/spellbook.svg' %}" alt="Spellbook">
        <h3>Spellbook</h3>
        <hr class="line">
        <p>Spellbook allows users to easily search and access spells from Dungeons & Dragons 5th Edition.</p>
      </a>
    </div>
    <div class="project col-xs-12 col-sm-6 col-md-4">
      <a href="https://github.com/Pjmcnally/lol_app">
        <img class="proj_pic" src="{% static 'lol_app/icon/map.svg' %}" alt="LoL Live Game Search">
        <h3>LoL Live Game Search</h3>
        <hr class="line">
        <p>(In Development)This site allows users to seach live LoL games.  It will show all players in the game, their current rank and setup.</p>
      </a>
    </div>
<!--     <div class="project col-xs-12 col-sm-6 col-md-4">
      <a href="magic">
        <img class="proj_pic" src="{% static 'magic/icon/playing-cards.svg' %}" alt="Magic Trick">
        <h3>Magic Trick</h3>
        <hr class="line">
        <p>(In Development) This site will lead users through a simple magic trick.</p>
      </a>
    </div> -->
    <div class="project col-xs-12 col-sm-6 col-md-4">
      <a href="https://github.com/Pjmcnally/baseball">
        <img class="proj_pic" src="{% static 'baseball/icon/baseball-field.svg' %}" alt="Baseball">
        <h3>Baseball Visualizer</h3>
        <hr class="line">
        <p>(In Development) Baseball Visualizer shows players careers as if they were scored on a score card.</p>
      </a>
    </div>
  </div> <!-- end of row -->
<!--   <div class="row">
    <h1>Small Projects</h1>
  </div> -->
</div>
