{% load static %}

<div class="container">
  <div class="row row-no-gutter">
    <a href="spellbook" class="project col-xs-12 col-sm-6 col-md-4">
      <img class="proj_pic" src="{% static 'spellbook/icon/spellbook.svg' %}" alt="Spellbook">
      <h3>Spellbook</h3>
      <hr class="line">
      <p>Spellbook allows users to easily search and access spells from Dungeons & Dragons 5th Edition.</p>
    </a>
    <a href="lol_app" class="project col-xs-12 col-sm-6 col-md-4">
      <img class="proj_pic" src="{% static 'lol_app/icon/map.svg' %}" alt="LoL Live Game Search">
      <h3>LoL Live Game Search</h3>
      <hr class="line">
      <p>This site allows users to seach live LoL games.  It will show all players in the game, their current rank and setup.</p>
    </a>
    <a href="magic" class="project col-xs-12 col-sm-6 col-md-4">
      <img class="proj_pic" src="{% static 'magic/icon/playing-cards.svg' %}" alt="Magic Trick">
      <h3>Magic Trick</h3>
      <hr class="line">
      <p>(In Development) This site will lead users through a simple magic trick.</p>
    </a>
    <a href="baseball" class="project col-xs-12 col-sm-6 col-md-4">
      <img class="proj_pic" src="" alt="Baseball">
      <h3>Baseball Visualizer</h3>
      <hr class="line">
      <p>Baseball Visualizer shows players careers as if they were scored on a score card.</p>
    </a>
  </div>
</div>
