/*csslint order-alphabetical: false, box-sizing: false*/

body {
  padding-top: 100px;
}

.spell-level-header {
    border-bottom: 2px solid #0A4958;
}

.fixed-anchor {
    padding-top: 115px;
    margin-top: -90px;
}

.navbar-collapse {
  text-align: center;
}

.navbar-nav {
    display: inline-block;
    float: none;
}

.internal-navbar {
    margin-top: 50px;
    border-width: 0; 
    background-color: white;
}

.nav > li > a {
    padding: 10px 10px;
}

@media (min-width: 768px) {
  .internal-navbar .container-fluid {
    width: 80%;
  }
}

@media (max-width: 768px) {
    .internal-navbar .navbar-brand {
        margin-left: 60px;
    }
    .spell-container {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.internal-navbar .container-fluid {
    background-color: lightgrey;
}

.form-control {
    display: inline-block;
}

.spell-container {
    font-family: 'Lora', serif;
    font-size: 18px;
    margin-bottom: 100px; /*Investigate this.  It shouldn't be needed*/
}

.spell-name {
    font-family: 'Mate SC', serif;
    font-size: 3em;
    margin-bottom: -5px;
}

.spell-school-level {
    font-size: 1.25em;
    font-style: italic;
}
.spell-detail p {
    margin-bottom: 2px;
}

.spell-head, .spell-detail {
    margin-bottom: 20px;
}

.spell-text table {
    background-color: transparent;
    border: 1px solid #0A4958;
    border-collapse: collapse;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
}

.spell-text thead {
    border-color: inherit;
    display: table-header-group;
    vertical-align: middle;
}

.spell-text th {
    background-color: #0A4958;
    color: white;
    font-weight: bold;
    padding: 8px;
    text-align: center;
}

.spell-text tbody tr:nth-child(even) {
   background-color: #ccc;
}

.spell-text td {
    padding: 8px;
    text-align: center;
}

.spell-block ul {
    list-style-type: none;
    padding-left: 1em;

}

/* This section impacts the advanced search section */
.search-option {
    display: inline-block;
    margin-right: 10px;
}

.search-option > p {
    display: inline-block;
}

.adv-search {
    margin-top: 15px;
}
